name: main

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          ignore: DL3018
  build-test-push:
    uses: ./.github/workflows/build-test-push.yaml
    with:
      alpine-tag: latest
      dockerhub-username: ${{ vars.DOCKERHUB_USERNAME }}
      push: false
    secrets:
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
