name: tag

on:
  push:
    tags:
      - v*

jobs:
  build-test-push:
    uses: ./.github/workflows/build-test-push.yaml
    with:
      alpine-tag: 3.23.2
      dockerhub-username: ${{ vars.DOCKERHUB_USERNAME }}
    secrets:
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
